.blog {
    padding-block-start: var(--section-padding);

    .container {

        .blog-top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .blogs-cards {
            display: flex;
            gap: 50px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .blog-card {
                box-shadow: var(--shadow-2);
                min-width: 100%;

                @include medium(){
                    min-width: calc(100% / 2 - 40px);
                }
                @include xl(){
                    min-width: calc(100% / 3 - 50px);
                }

                &:hover {

                    figure {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }



                figure {
                    aspect-ratio: --width / --height;
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: 0.3s;
                    }
                }

                .blog-card-content {
                    padding: 3rem 2.5rem;

                    .author {
                        @include flex-center();
                        gap: 2rem;
                        margin-bottom: 2rem;

                        a {
                            @include flex-center();
                            gap: 0.4rem;

                            &:hover {
                                span {
                                    color: var(--main-color);
                                }
                            }

                            i {
                                color: var(--main-color);
                                font-size: 1.5rem;
                            }
                            span {
                                font-size: 1.4rem;
                                color: grey;
                                transition: 0.25s;
                            }
                        }
                    }

                    h3 {
                        cursor: pointer;
                        @include typography(1.6rem, 600, 1.5);
                        word-spacing: 1.5px;
                        padding-bottom: 2rem;
                        border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
                        
                        @include large(){
                            @include typography(1.8rem, 600, 1.5);
                        }

                        &:hover {
                            color: var(--main-color);
                            transition: 0.3s;
                        }
                    }

                    .other {
                        @include flex-between();
                        margin-top: 2rem;


                        .date {
                            @include flex-center();
                            gap: 1rem;

                            i {
                                font-size: 1.5rem;
                                color: var(--main-color);
                                
                                @include medium(){
                                    font-size: 1.8rem;
                                }
                            }

                            span {
                                font-size: 1.3rem;
                                color: grey;
                                
                                @include medium(){
                                    font-size: 1.5rem;
                                }
                            }
                        }

                        a {
                            color: var(--main-color);
                            text-transform: uppercase;
                            font-size: 1.3rem;
                            font-weight: 500;
                            
                            @include medium(){
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}