.blog {
    padding-block: var(--section-padding);

    .container {


        .blogs-cards {
            display: flex;
            gap: 50px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .blog-card {
                box-shadow: var(--shadow-2);
                min-width: 100%;



                figure {
                    aspect-ratio: --width / --height;

                    img {
                        width: 100%;
                    }
                }

                .blog-card-content {
                    padding: 3rem 2.5rem;

                    .author {
                        @include flex-center();
                        gap: 2rem;
                        margin-bottom: 2rem;

                        a {
                            @include flex-center();
                            gap: 0.4rem;

                            &:hover {
                                span {
                                    color: var(--main-color);
                                }
                            }

                            i {
                                color: var(--main-color);
                                font-size: 1.5rem;
                            }
                            span {
                                font-size: 1.4rem;
                                color: grey;
                                transition: 0.25s;
                            }
                        }
                    }

                    h3 {
                        @include typography(1.6rem, 600, 1.5);
                        word-spacing: 1.5px;
                        padding-bottom: 2rem;
                        border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
                    }

                    .other {
                        @include flex-between();
                        margin-top: 2rem;


                        .date {
                            @include flex-center();
                            gap: 1rem;

                            i {
                                font-size: 1.5rem;
                                color: var(--main-color);
                            }

                            span {
                                font-size: 1.3rem;
                                color: grey;
                            }
                        }

                        a {
                            color: var(--main-color);
                            text-transform: uppercase;
                            font-size: 1.3rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}