
.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 5;

    .container{

        @include medium(){
            @include flex-between();
        }
        @include xl(){
            @include flex-between();
        }

        .logo {
            @include flex-center();
            justify-content: center;
            padding-block: 2.5rem;
        }

        .navbar {
            position: fixed;
            left: -320px;
            top: 0;
            max-width: 320px;
            width: 100%;
            height: 100vh;
            background-color: var(--white);
            z-index: 6;
            transition: 0.3s;

            @include xl(){
                all: unset;
            }

            &.active {
                left: 0;
            }
            
            .nav-top {
                @include flex-between();
                padding-inline: 2rem;
                padding-block: 7rem 5rem;

                @include xl(){
                    display: none;
                }

                .nav-close {
                    display: grid;
                    place-items: center;

                    &:hover {
                        i {
                            color: var(--main-color);
                        }
                    }

                    i {
                        font-size: 2.5rem;
                        transition: 0.3s;
                    }
                }
            }

            .nav-list {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                padding-inline-start: 3rem;

                @include xl(){
                    flex-direction: row;
                    gap: 3rem;
                }

                .nav-link {
                    text-transform: uppercase;
                    @include typography(1.6rem, 600, 1.5);
                    transition: 0.3s;
                    
                    @include xl(){
                        @include typography(1.6rem, 700, 1.5);

                    }

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }


        .nav-buttons {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            @include flex-center();
            justify-content: space-around;
            padding: 1.5rem 2rem;
            box-shadow: -2px 0 10px rgba($color: grey, $alpha: 0.5);
            z-index: 4;
            background-color: var(--white);

            @include medium(){
                all: unset;
                @include flex-center();
                gap: 1rem;
            }

            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                @include xl(){
                    &:nth-child(4){
                        display: none;
                    }
                }

                &:hover {
                    i {
                        color: var(--main-color);
                        transform: scale(1.1);

                        
                    }

                    span {
                        color: grey;
                    }
                }

                i {
                    font-size: 2rem;
                    transition: 0.3s;

                    @include medium(){
                        display: grid;
                        place-items: center;
                        padding: 1rem;
                        background-color: white;
                        box-shadow: var(--shadow-2);
                    }
                }
                
                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                    transition: 0.3s;

                    @include medium(){
                        display: none;
                    }
                }
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: 5;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}