.hero {
    background-color: var(--hero-bg);
    padding-block: var(--section-padding);

    .container {
        display: grid;
        gap: 5rem;

        @include large(){
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        .hero-content {

            & > div {
                @include flex-center();
                gap: 1rem;
                margin-bottom: 2rem;

                i {
                    font-size: 2rem;
                    color: var(--main-color);

                    @include xl(){
                        font: 2.2rem;
                    }
                }

                p {
                    @include typography(1.5rem, 700, 1.5);

                    @include xl(){
                        @include typography(1.6rem, 700, 1);
                    }
                }
            }

            .heading {
                @include typography(3rem, 700, 1.2);
                margin-bottom: 2rem;
                
                @include medium(){
                    @include typography(4.2rem, 700, 1);
                    max-width: 500px;
                }
                @include large(){
                    @include typography(4.8rem, 700, 1);
                    max-width: 500px;
                }
                @include xl(){
                    @include typography(5.2rem, 700, 1);
                    max-width: 500px;
                }
            }
            
            & > p {
                @include typography(1.4rem, 400, 2);
                color: var(--p-text-color);
                padding-left: 1.5rem;
                border-left: 1px solid black;
                margin-bottom: 2rem;

                @include medium(){
                    @include typography(1.6rem, 400, 1.6);
                    max-width: 450px;
                }
            }

            
        }

        figure {
            position: relative;

            img {
                width: 100%;
                aspect-ratio: --width / --height;
            }
        }

    }
}