.properties {
    padding-block: var(--section-padding);

    .container {

        .properties-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
        }

        .properties-cards {
            display: flex;
            flex-wrap: nowrap;
            gap: 50px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            &:hover {
                &::-webkit-scrollbar {
                    display: block;
                    height: 6px;
                    
                    &-thumb {
                        background-color: rgba(0, 0, 0, 0.1);
                        border-radius: 1rem;
    
                    }
    
                    &-track {
                        background-color: aliceblue;
                    }
                }
            }

            .property-card {
                box-shadow: var(--shadow-1);
                min-width: 100%;

                @include medium(){
                    min-width: calc(100% / 2);
                }
                @include large(){
                    min-width: calc(100% / 2.5);
                }
                @include xl(){
                    min-width: calc(100% / 3);
                }


                &:hover {
                    .img {
                        transform: scale(1.1);
                    }
                }


                .image {
                    position: relative;

                    figure {
                        aspect-ratio: --width / --height;
                        overflow: hidden;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
                        }

                        img {
                            width: 100%;
                            transition: 0.3s;
                        }
                    }

                    .img-details {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 10px;
                        padding-inline: 0.5rem;
                        @include flex-between();
                        color: var(--white);

                        .left {
                            @include flex-center();
                            gap: 0.5rem;

                            &:hover {
                                i {
                                    color: var(--main-color);

                                }

                                span {
                                    color: var(--main-color);
                                }
                            }

                            i {
                                font-size: 1.5rem;
                                transition: 0.3s;
                            }
                            
                            span {
                                @include typography(1.3rem, 400, 1);
                                transition: 0.3s;
                            }
                        }

                        .right {
                            @include flex-center();
                            gap: 1.8rem;

                            a {
                                @include flex-center();
                                gap: 0.5rem;

                                &:hover {
                                    i {
                                        color: var(--main-color);

                                    }

                                    span {
                                        color: var(--main-color);
                                    }
                                }

                                i {
                                    font-size: 1.5rem;
                                    transition: 0.3s;
                                }
                                
                                span {
                                    transition: 0.3s;
                                    font-size: 1.3rem;
                                }
                            }
                        }

                    }
                }


                .property-card-content {

                    .price {
                        @include flex-center();
                        color: var(--main-color);
                        margin-block: 3rem 0.2rem;
                        padding-inline: 2rem;
                        
                        h3 {
                            @include typography(1.8rem, 600, 1.5); 
                        }
                        
                        span {
                            @include typography(1.8rem, 400, 1.5);
                        }
                    }
                    
                    a {
                        padding-inline: 2rem;
                        margin-bottom: 1.2rem;
                        
                        h3 {
                            @include typography(1.8rem, 600, 1.5);
                            transition: 0.3s;

                            &:hover {
                                color: var(--main-color)
                            }
                        }
                        
                    }
                    
                    .section-text {
                        padding-inline: 2rem;
                        @include typography(1.4rem, 400, 1.5);
                    }
                    
                    .features {
                        padding-inline: 2rem;
                        @include flex-between();
                        margin-block: 2rem 1.5rem;
                        flex-wrap: wrap;
                        gap: 1rem;

                        & > div:not(:last-child) {
                            border-right: 1px solid hsla(0, 0%, 10%, 0.8);
                            padding-right: 2rem;
                        }

                        & > div {

                            .icon-count {
                                @include flex-center();
                                gap: 1rem;
                                flex-wrap: wrap;

                                span {
                                    font-weight: 600;
                                    font-size: 1.3rem;
                                    color: grey;
                                }
                                i {
                                    font-weight: 600;
                                    font-size: 1.5rem;
                                }
                            }
                            
                            p {
                                font-size: 1.5rem;
                                color: grey;
                            }
                        }
                        

                    }

                    .seperator {
                        height: 0.5px;
                        width: 100%;
                        background: hsla(0, 0%, 10%, 0.8);
                        margin-bottom: 1.5rem;
                    }

                    .user-details {
                        padding-inline: 2rem;
                        @include flex-between();
                        padding-bottom: 1rem;
                        flex-wrap: wrap;

                        .left-side {
                            display: flex;
                            

                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                object-fit: cover;
                            }

                            & > div {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-left: -5px;
                                
                                a {
                                    @include typography(1.4rem, 700, 1.5);
                                    transition: 0.3s;

                                    &:hover {
                                        color: var(--main-color);

                                    }
                                }
                                
                                span {
                                    @include typography(1.3rem, 400, 1.5);
                                    margin-top: -10px;
                                    margin-left: -6px;
                                    color: grey;
                                }

                            }
                        }

                        .right-side {
                            display: flex;
                            gap: 0.3rem;
                            align-items: center;

                            i {
                                padding: 1rem;
                                background-color: rgba($color: #312f2f, $alpha: 0.1);
                                cursor: pointer;
                                font-size: 1.8rem;
                                transition: 0.3s;

                                &:hover {
                                    background-color: var(--main-color);
                                    color: var(--white);
                                }
                                
                            }
                        }
                    }



                }
            }
        }
    }
}